@charset "UTF-8";

/*基本設定*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.15 ease-in-out;

}

a:hover {
	display: inline-block;
	transform: scale(1.2);
}

figure {
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

body {
	font-family: "Kiwi Maru", serif;
	font-weight: 500;
	font-style: normal;
	color: #374D59;
}

/*ヘッダー部分*/

.header {
	/*並び*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*スクロールしても固定*/
	position: fixed;
	z-index: 2;
	/*背景*/
	background-color: #91CBEB;
	width: 100%;

}

.header-nav-list {
	display: flex;
	margin:0px;
	padding:0px;
}



/*ボディ部分*/

.main-hero-pic{
	background-color: papayawhip;
	opacity: 0.6;
}

/*フッター部分*/

/*.footer {
	/*並び*/
	/*display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-logo{
	display: flex;
	margin:0px;
	padding: 0px;;
}*/